[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./CSharpPythonAgent.py

# Name of the bot in-game
name = HAL3000

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Blackbeard

# Short description of the bot
description = Not as smart as HAL9000... but may also be a psycopath.

# Fun fact about the bot
fun_fact = He likes sunset drives on the beach. Definietly not midday drives on the beach. It's too bright.

# Link to github repository
github = https://github.com/rSterling319/HAL3000RLBot

# Programming language
language = c#